<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>EmailSender.java</display-name>
    <servlet-name>EmailSender.java</servlet-name>
    <servlet-class>com.user.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSender.java</servlet-name>
    <url-pattern>/EmailSender.java</url-pattern>
  </servlet-mapping>
  <display-name>greensupermarketweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.user.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveItemCart</servlet-name>
    <servlet-class>com.user.servlet.RemoveItemCart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.user.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.user.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditItemServlet</servlet-name>
    <servlet-class>com.admin.servlet.EditItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.user.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>com.user.servlet.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ItemDeleteServlet</servlet-name>
    <servlet-class>com.admin.servlet.ItemDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OderServlet</servlet-name>
    <servlet-class>com.user.servlet.OderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddItem</servlet-name>
    <servlet-class>com.admin.servlet.AddItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveItemCart</servlet-name>
    <url-pattern>/remove_item</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditItemServlet</servlet-name>
    <url-pattern>/edititems</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/update_profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemDeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OderServlet</servlet-name>
    <url-pattern>/OderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddItem</servlet-name>
    <url-pattern>/AddItem</url-pattern>
  </servlet-mapping>
</web-app>